.box-wrapper {
	height: 100vh;
	width: 100%;
	display: flex;
	flex-direction: row;
}
#showRoot {
    height: 100vh;
	border: solid 1px orange;
    padding: 10px;
    width: 100%;
    overflow: auto;
}
.middle-column {
	flex-grow: 1;
	display: flex;
	flex-direction: column;
    max-width: 70%;
    resize: horizontal;
    overflow:auto;
    background-color: black;
}
.middle-column:-webkit-scrollbar { width: 0 !important }
.middle-column textarea {
	flex-grow: 1;
	margin: 0 8px;
	border: solid 1px red;
    max-width: 100%;
    resize: vertical;
    background-color: #383838;
    color: aliceblue;
    padding: 10px;
    letter-spacing: 1px;
    line-height: 1.5;
}
.middle-column textarea+textarea {
	margin-top: 8px
}

