*{
    padding: 0;
}
.x-wrapper {
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: row;
}
.editor-side{
	flex-direction: row;
    min-width: 50%;
    overflow:auto;
    border: 2px solid black;
    resize: horizontal;
    background-color: #494949;
}


.output-side{
    height: 100vh;
	border: solid 1px orange;
    width: 50%;
    overflow: auto;
}
.x-wrapper div + div{
 margin-left: 4px;
}
.lang-btn{
    width: 100%;
    height: 40px;
    border-bottom: 2px solid black;
}
.lang-btn button{
    background-color: #494949;
    color: #dfdfdf;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 18px;
    padding: 8px;
    /* background: none; */
    cursor: pointer;
    border: 0;
    border-radius: 15%;
    border-right: 2px solid black;
}
.lang-btn button:hover{
    font-size: 20px;
    padding: 6px 12px;
    border-left: 2px solid black;
}
.textarea{
    height: 70vh;
}